/*!
	Lato font.
*/

/* Lato (normal, regular) */
@font-face {
  font-family: Lato;
  font-weight: 400;
  font-style: normal;
  text-rendering: optimizeLegibility;
  src: url("../fonts/lato-normal.woff2") format("woff2"), url("../fonts/lato-normal.woff") format("woff");
}

/* Lato (semibold, regular) */
@font-face {
  font-family: Lato;
  font-weight: 500;
  font-style: normal;
  text-rendering: optimizeLegibility;
  src: url("../fonts/lato-semibold.woff2") format("woff2"), url("../fonts/lato-semibold.woff") format("woff");
}

/* Lato (bold, regular) */
@font-face {
  font-family: Lato;
  font-weight: 600;
  font-style: normal;
  text-rendering: optimizeLegibility;
  src: url("../fonts/lato-bold.woff2") format("woff2"), url("../fonts/lato-bold.woff") format("woff");
}

/* Lato (heavy, regular) */
@font-face {
  font-family: Lato;
  font-weight: 800;
  font-style: normal;
  text-rendering: optimizeLegibility;
  src: url("../fonts/lato-heavy.woff2") format("woff2"), url("../fonts/lato-heavy.woff") format("woff");
}

/* Raleway (Extrabold, regular) */
@font-face {
  font-family: Raleway;
  font-weight: 800;
  font-style: normal;
  text-rendering: optimizeLegibility;
  url("../fonts/Raleway-ExtraBold") format('truetype');
}