/*-------------
 	General
-------------*/
:root {
    --secondary-color: #42a9ed;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*:focus{
outline: none;
}
a{
    text-decoration: none;
    color: #fff;
}
body {
    font-family: "Lato";
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    color: #fff;
}
input {
    font-family: "Lato";
    font-weight: 400;
}
section{

}
.container{
    width: 1170px;
    max-width: 100%;
    margin: auto;
    padding-right: 30px;
    padding-left: 30px;
}
@media (max-width: 768px){
    .container{
        padding-right: 15px;
        padding-left: 15px;
    }
}
.pr-30{
    padding-right: 30px;
}
/*-------------
 	Buttons
-------------*/
button{
    border-radius: 5px;
    padding: 10px;
    text-transform: uppercase;
    font-size: 13px;
    cursor: pointer;
}
.button-main{
    background-color: var(--secondary-color);
    border: 1px solid #fff;
    color: #fff;
}
.button-secondary{
    background-color: #fff;
    border: 1px solid #6f6d7b;
    color: #2a2b30;
}
/*-------------
 	Header
-------------*/
header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    background: rgba(16, 16, 29, 0.90);
    overflow: hidden;
    text-transform: uppercase;
}
header .header-logo{
    font-family: "Raleway";
    font-size: 28px;
    font-weight: 800;
 }
header .header-logo span{
    color: var(--secondary-color);
}
header a.active{
    color: var(--secondary-color);
}
header a {
    float: left;
    text-align: center;
    padding: 35px 0;
    line-height: 28px;
    text-decoration: none;
    font-weight: 500;
    font-size: 13px;
}

.header-right {
    float: right;
}
.header-right a{
    padding-left: 26px;
}
#hamburger{
    display: none;
}
@media screen and (max-width: 768px) {
    #hamburger{
        display: block;
        position: absolute;
        right: 15px;
        top: 0;
    }
    #hamburger i{
        font-size: 28px;
    }
    header a {
        float: none;
        display: block;
        text-align: left;
    }
    .header-right {
        float: none;
        display: none;
    }
    .header-right.visible {
        display: block;
        transition: all .3s ease;
    }
    .header-right a{
        padding: 10px;
        text-align: center;
    }
}
/*-------------
 	First screen
-------------*/
.first-screen{
    padding-top: 240px;
    padding-bottom: 195px;
    background-size: cover;
    background-image: url("../img/bg.jpg");
    background-position: center;
    color: #2a2b30;
}
.first-screen h1{
    font-weight: 600;
    font-size: 48px;
    color: #272733;
    text-transform: uppercase;
    max-width: 740px;
}
.first-screen h1 span{
    color: var(--secondary-color);
}
.first-screen-description{
    font-size: 20px;
    padding: 60px 0 65px;
}
.first-screen p{
    font-weight: 600;
    margin-bottom: 10px;
}
.first-screen ul{
    list-style: "- " inside;
    font-weight: 400;
}
.first-screen li{
    margin-bottom: 10px;
}
.first-screen button{
    width: 180px;
}
.first-screen button:first-of-type{
    margin-right: 25px;
}
@media screen and (max-width: 576px) {
    .first-screen h1 {
        font-size: 24px;
    }
    .first-screen-description {
        font-size: 16px;
    }
    .first-screen {
        padding-top: 140px;
        padding-bottom: 70px;
    }
    .first-screen button {
        width: 150px;
    }
}
/*-------------
 	Contact screen
-------------*/
.contact-screen{
    padding-top: 120px;
    padding-bottom: 150px;
    background-image: url("../img/map.jpg");
    background-size: cover;
}
.contact-screen h2{
    font-size: 36px;
    font-weight: 800;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
}
.contact-screen h2 span{
    color: var(--secondary-color);
}
.contact-screen .subtitle{
    color: #bbbbbb;
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
}
.timeline-steps{
    padding: 75px 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.timeline-step{
    display: flex;
    flex-direction: column;
}
.timeline-step-circle{
    background: var(--secondary-color);
    border-radius: 50%;
    border: 5px solid #28638b;
    padding: 28px;
    margin: 0 auto;
    position: relative;
}
.timeline-step-circle::after{
    content: url("../img/circles.png");
    position: absolute;
    left: auto;
    top: 50%;
    transform: translateX(50%) translateY(-50%);
    width: 100%;
}
 .timeline-step:last-of-type .timeline-step-circle::after {
    content: ''
}

.timeline-step i{
    font-size: 34px;
    line-height: 42px;
    width: 42px;
    height: 42px;
    text-align: center;
    vertical-align: bottom;
}

.timeline-step-description{
    margin: 20px auto 0;
    text-align: center;
    max-width: 170px;
}
.statement form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
.statement-field{
    width: 33.3%;
    padding: 0 30px 30px 0;
}
.statement-field:nth-of-type(4){
    width: 66.6%;
}
.statement-field:nth-of-type(3),
.statement-field:nth-of-type(5){
    padding-right: 0;
}
.statement-field:last-of-type{
    margin: auto;
}
.statement-field p{
    margin-bottom: 10px;
}

/*Selectbox*/
.statement .dropdown,
.statement input{
    display: inline-block;
    background-color: #dfdfe1;
    border: 1px solid #fff;
    border-radius: 5px;
    transition: all .3s ease;
    position: relative;
    font-size: 18px;
    color: #272733;
    height: 100%;
    text-align: left;
    width: 100%;
    padding: 12px;
}
.statement input::placeholder {
    color: #272733;
}
.statement button{
    width: 100%;
    padding: 12px;
    font-size: 18px;
}
.dropdown .select {
    cursor: pointer;
    display: block;
}
.dropdown .select > i {
    cursor: pointer;
    transition: all .3s ease;
    float: right;
}

.dropdown:active {
    background-color: #3d4050;
}
.dropdown.active:hover,
.dropdown.active {
    background-color: #3d4050;
    color: #fff;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom: none;
border-color: #3d4050;
}
.dropdown.active .select > i {
    transform: rotate(180deg)
}
.dropdown .dropdown-menu {
    position: absolute;
    background-color: rgba(39, 39, 51,0.9);
    border: 1px solid #3d4050;
    border-top: 0;
    width: calc(100% + 2px);
    left: -1px;
    border-radius: 0 0 5px 5px;
    overflow: hidden;
    display: none;
    max-height: 180px;
    overflow-y: auto;
    z-index: 9
}
.dropdown .dropdown-menu li {
    padding: 12px;
    cursor: pointer
}
.dropdown .dropdown-menu {
    padding: 0;
    list-style: none
}
.dropdown .dropdown-menu li:hover {
    color: var(--secondary-color);
}
.dropdown .dropdown-menu li:active {
    color: var(--secondary-color);
}
.dropdown-menu::-webkit-scrollbar {
    width: 7px;
}
.dropdown-menu {
    scrollbar-width: thin;
    scrollbar-color: var(--secondary-color) transparent;
}
.dropdown-menu::-webkit-scrollbar-track {
    background: transparent;
}
.dropdown-menu::-webkit-scrollbar-thumb {
    background-color: var(--secondary-color) ;
    border-radius: 5px;
    border: transparent;
}

.statement .range-slider {
    -webkit-appearance: none;
    width: 100%;
    height: 6px;
    border: 1px solid #fff;
    border-radius: 5px;
    background: #bfbfc2;
    outline: none;
padding: 0;
}
.statement .range-slider-info{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.statement .range-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: var(--secondary-color);
    border: 3px solid #28638b;
    cursor: pointer;
    border-radius: 50%;
}
.statement .range-slider::-webkit-slider-thumb,
.statement .range-slider::-moz-range-thumb {
    width: 18px;
    height: 18px;
    background: var(--secondary-color);
    border: 3px solid #28638b;
    cursor: pointer;
    border-radius: 50%;
}


.file-area {
    width: 100%;
    position: relative;
    cursor: pointer;
}
.file-area input[type=file] {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    cursor: pointer;
}
.file-area .file-dummy {
    color: #2a2b30;
    width: 100%;
    text-align: center;
    transition: background 0.3s ease-in-out;
    background-color: #dfdfe1;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 12px;
    text-transform: uppercase;
    cursor: pointer;
}
.file-area .file-dummy i{
    margin-right: 20px;
}
.file-area .file-dummy .success {
    display: none;
}
.file-area:hover .file-dummy {
    background: #fff;
    border-color:  var(--secondary-color);
}
.file-area input[type=file]:focus + .file-dummy {
    border-color:  var(--secondary-color);
    background: #fff;
}
.file-area input[type=file]:valid + .file-dummy {
    background-color: #3d4050;
    color: #fff;
}
.file-area input[type=file]:valid + .file-dummy .success {
    display: inline-block;
}
.file-area input[type=file]:valid + .file-dummy .default {
    display: none;
}
@media screen and (max-width: 960px) {
    .statement .dropdown, .statement input, .statement button, .file-dummy{
        font-size: 15px;
    }
}
@media screen and (max-width: 768px) {
    .timeline-step i {
        font-size: 26px;
        line-height: 30px;
        width: 30px;
        height: 30px;
    }

    .timeline-step-circle {
        padding: 20px;
    }

    .timeline-step-circle::after {
        display: none;
    }

    .statement-field {
        width: 50%;
    }

    .statement-field:nth-of-type(1) {
        order: 1;
    }

    .statement-field:nth-of-type(2) {
        order: 2;
    }

    .statement-field:nth-of-type(3) {
        order: 3;
    }

    .statement-field:nth-of-type(5) {
        order: 4;
    }

    .statement-field:nth-of-type(4) {
        order: 5;
        width: 100%;
    }

    .statement-field:nth-of-type(6) {
        order: 6;
    }

    .statement-field:nth-of-type(even),
    .statement-field:nth-of-type(odd) {
        padding-right: 15px;
        padding-left: 15px;
    }
}
    @media screen and (max-width: 576px) {
        .contact-screen h2 {
            font-size: 20px;
    }
        .contact-screen .subtitle {
            font-size: 16px;
        }
        .timeline-steps{
            padding: 25px 0;
        flex-wrap: wrap;
            justify-content: space-evenly;
        }
        .timeline-step-circle {
            margin: 20px auto 0;
        }
        .statement-field {
            width: 100%;
        }
        .contact-screen {
            padding-top: 70px;
            padding-bottom: 70px;
        }
    }
/*-------------
 	Footer
-------------*/
footer{
    background-color: #3d4050;
}
.footer-wrapper{
    padding-top: 33px;
    padding-bottom: 33px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 13px;
}
.footer-block{
    display: flex;
    flex-direction: row;
    width: auto;
    position: relative;
}
.footer-block div{
    display: flex;
    flex-direction: row;
    margin-left: 35px;
}
.footer-block::before {
    content: "|";
    left: -17px;
    position: absolute;
}
.footer-block:first-child::before{
    display: none;
}
.footer-block:last-of-type{
    justify-content: flex-end;
}
.footer-block span,
.footer-block i{
    margin-right: 10px;
    color: var(--secondary-color);
    font-size: 15px;
}
.bg-yandex_money {
    width: 15px; height: 15px;
    background: url('../img/css_sprites.png') 1px -1px;
}
.bg-webmoney {
    width: 15px; height: 15px;
    background: url('../img/css_sprites.png') -31px -1px;
}
.bg-qiwi {
    width: 15px; height: 15px;
    background: url('../img/css_sprites.png') -14px -1px;;
}
@media screen and (max-width: 1170px) {
    .footer-block::before{
        display: none;
    }
    .footer-wrapper{
        flex-wrap: wrap;
    }
    .footer-block:first-of-type{
        width: 100%;
        justify-content: center;
        margin-bottom: 10px;
    }
}
@media screen and (max-width: 768px) {
    .footer-block,
    .footer-block:last-of-type{
        width: 100%;
        justify-content: space-around;
        margin-bottom: 10px;
    }
    .footer-block div {
        margin-left: 0px;
    }
}